<h1>Nuestros departamentos</h1>

<ul>
<% @flats.each do |flat| %>
  <li class="card">
    <%= flat["name"] %>. <%= flat["price"] %> <%= flat["priceCurrency"] %>. <%= link_to "Ver detalles", flat_path(flat["id"]) %>
  </li>
<% end %>
</ul>
